nav {
    width: 100%;
    /*background-color: #f8f9fa;*/
    padding: 15px 0;


}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;



}

.menu li {
    margin-left: 30px;
}

.menu a {
    text-decoration: none;
    color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    opacity: 0.5;
}

#Inicio {
    opacity: 100;
}

.menu a:hover {
    color: hsl(0, 93%, 47%);
    opacity: 100;

}


.superior {
    height: 100vh;
    background-image: url('../Assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1330px;


}

h1 {
    color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-left: 50px;
}

h2 {
    color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 50px;
}

#botonCursos,
#botonVisitar {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 5px 70px;
    border-radius: 5px;
    margin-left: 50px;
    background-color: transparent;
    color: white;
    border: solid;
    text-decoration: none;



}

#botonVisitar {

    margin-left: 5px;
}

#botonVisitar:hover {
    background-color: rgb(228, 1, 39);
    color: #f8f9fa;



}

#botonCursos:hover {
    background-color: rgb(228, 1, 39);
    color: #f8f9fa;

}

img {

    margin-left: 60px;
    opacity: 0.5;




}

#footer {
    background-color: gray;
    width: 1330px;

}

#footerdiv {
    color: bisque;
    margin-left: 10px;
}


/* las noticias*/

#anuncio {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.5;
}

.contenedorNoticias {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.columna {
    flex: 1;
    margin: 0 15px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 8px;

}

.imagenes {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 0px;
    opacity: 100;
    object-fit: cover;
    transition: transform 0.3s ease;
    overflow: hidden;

}

.imagenes :hover {

    transform: scale(1.1);
}


h3 {
    color: #333;
    margin-top: 10px;
}

p {
    color: #666;
    line-height: 1.6;
}

.fechayestudiantes {
    display: flex;

}

.fechaCurso,
.cantidadEstudiantes {
    font-size: 13px;
    color: #3f3ff3;
}

.cantidadEstudiantes {
    margin-left: 5px;
}