h2 {
    text-align: center;
    font-size: 300%;
}

.lista {
    display: flex;
    justify-content: center;
    list-style: none;

    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;



}

.lista li {
    gap: 30px;

    margin: auto;

    font-size: 120%;

}

.fondo {
    height: 20em;
    /*background-image: url(../Assets/monedas.jpeg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 77.5em;
    margin: 0 auto;

}



.fondo {
    position: relative;
    width: 77.5em;
    height: 20em;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('../Assets/monedas.jpeg'),

        background-size: cover;
    background-position: center; */
    overflow: hidden;



}



.textos-del-fondo {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

.textos-del-fondo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/monedas.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    /* Ajusta este valor según necesites */
    z-index: -1;
}

.texto-del-fondo-1 {

    font-size: 3em;

    margin: 0 auto;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 6, 7);
    z-index: 1;



}

.texto-del-fondo-2 {
    color: blue;
}

.texto-del-fondo-3 {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    color: black;
    font-size: 1.2em;
}


.contenedor {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.ColumnaCompleta {
    flex: 1;
}

.Grupo {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    min-height: 200px;
}

.TituloTexto {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.titulo {
    margin: 0 0 15px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.texto {
    margin: 0;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
}

.link {
    color: #cc0033;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.link :hover {
    text-decoration: underline;
}

/* .contenedor-de-imagen {} */

.imagen {
    /* width: 100%; */
    height: 90%;
    position: absolute;
    object-fit: cover;
    width: 200px;
    /* align-self: stretch; */
    position: relative;
    object-fit: cover;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 8px;


}

.contenedor-de-imagen :hover {

    transform: scale(1.1);
}